# The variables added in this file are only available locally in MiniOxygen.
# Run `npx shopify hydrogen link` to also inject environment variables from your storefront,
# or `npx shopify hydrogen env pull` to populate this file.
SESSION_SECRET=
PUBLIC_STOREFRONT_ID=
PUBLIC_STOREFRONT_API_TOKEN=
PUBLIC_STORE_DOMAIN=
PRIVATE_STOREFRONT_API_TOKEN=
PUBLIC_CUSTOMER_ACCOUNT_API_CLIENT_ID=
PUBLIC_CUSTOMER_ACCOUNT_API_URL=
SHOP_ID=
